/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

/* @font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#box1 {
    background-color: pink;
    height: 200px;
}

#box2 {
    background-color: red;
    height: 200px;
}

#box3 {
    display: none;
    background-color: grey;
}

#box4 {
    display: none;
    background-color: brown;
}

@media screen and (min-width: 641px) {
    .boxes {
        display: flex;
        flex-direction: row;
    }

    #box1 {
        background-color: blue;
        width: 25%;
        height: 300px;
    }

    #box2 {
        background-color: purple;
        width: 25%;
        height: 300px;
    }

    #box3 {
        background-color: grey;
        display: block;
        width: 25%;
        height: 300px;        
    }

    #box4 {
        background-color: brown;
        display: block;
        width: 25%;
        height: 300px;
    }
}

h2 {
    text-align: center;
    color: white;
}